section {
    background-image: url("https://res.cloudinary.com/hdsqazxtw/image/upload/v1642799651/WWW/Group_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
section article {
    background-color: red;
    width: 500px;
    height: 500px;
}

section article p {
    line-height: 4;
} */

.bordas-arredondadas{
    border-radius: 20px;
} 

#produtos {
    padding: 0px;
    margin: 0px;
}
.tamanho-botao {
    width: 500px;
}
.botao-vermelho {
    background-color: red;
}

#produtos {
    background-color: aqua;
}
/* 
p {
    color: red ;
}
p {
    color: green;
} */

/* p {
    font-size: 60px;
}
p {
    color: green;
} */

/* #produtos {
    padding: 0px;
} */

* {
    margin: 0;
    padding: 0;
}

.corrigir-lista {
    padding: 10px;
}



@font-face {
    font-family: "Mystery Quest";
    src: url("MysteryQuest-Regular.ttf");
}
p {
    color:  #0c250c;
    /* font-style: italic; */
    font-weight: normal;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif ;
    text-align: right;
    line-height: 1;
    text-decoration: line-through   ;
}
/* p {
    font-family: "Mystery Quest", cursive;
} */

/* p { 
    font-family: "Tilt Prism";
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    text-align: left;
    line-height: 200%;
    text-decoration: line-through;
    background-color: yellow;
} */
