body {
    padding: 200px;
}

.element {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.gradiente {
    background-image: linear-gradient(to left, purple, pink);
    /* background-image: linear-gradient(to left, Red, orange, yellow, green, blue, indigo, violet); */
    /* background-image: radial-gradient( Red, orange, yellow, green, blue, indigo, violet); */

}

.transformation {
    /* transform: translate(20px, 20px); */
    /* transform: translateX(200px); */
    /* transform: translateY(200px); */
    /* transform: rotate(45deg); */
    /* transform: rotateX(180deg) rotateY(180deg); */
}

.scale {
    /* transform: scale(2,2); */
}

/* .skew {
    transform: skew(20deg, 10deg);
} */

.transition {
    transition: all 2s;
    background-color: yellow;
}

.element:hover {
    height: 500px;
    transform: rotate(45deg);
    font-size: 60px;
}

.input-text {
    font-size: 20px;
    transition: all 3s;
}

.input-text:focus {
    font-size: 60px;
}


/* Animação */

.artigo {
    animation-name: change-size;
    animation-duration: 10s;
    animation-iteration-count: 10;
    animation-direction: linear;
}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes change-size {
    0% {
        width: 100px;
        font-size: 32px;
        background-color: yellow;
    }

    25% {
        width: 300px;
    }

    50% {
        width: 200px;
        background-color: red;
    }

    75% {
        width: 300px;
    }

    100% {
        width: 300px;
        background-color: green;
    }
}