.item-diferente {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border: 1px solid black;
    margin: 0px;
    padding: 50px;
    order: -1;
}

.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
    margin: 0px;
}

.pai {
    background-color: blue;
    height: 1000px;

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    /* justify-content: space-between;  */

    align-items: baseline;

    align-content: space-around;
}